body {
  background-color: #d0d0c8;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card-fixture {
  margin: 10px;
  min-width: 160px;
}

.control-collapse {
  margin-bottom: 10px;
}

.cs-card {
  margin-bottom: 10px;
}

.cue-fx-card {
  width: 48px;
  height: 96px;
  margin: 5px;
}

.num-in {
    text-align:right;
}

.sticky {
  position:fixed;
  max-width: 20%;
}
